{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation du mode passe envoyé{% endblock %}
g
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Email envoyé</h5>
                <p class="card-text"> Si un compte correspondant à votre e-mail existe, un e-mail vient d'être envoyé
                    qui contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                    <br>Ce lien expirera
                    dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                </p>
                <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a
                            href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
