@import "~bootstrap/scss/bootstrap";


body {
  background-color: lightgray;
}

label.required:after {
  content: "*";
  color: red;
}

#liveToast {
  width: 450px
}

.anone {
  text-decoration: none;
  color: inherit;
}

trix-editor, trix-toolbar {
  background-color: white
}

trix-toolbar .trix-button-group {
  margin-bottom: 0px !important;
}
